html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grandir {
  font-size: 16px;
  text-align: center;
}

.grandir.is-big {
  font-size: 50px;
}
